.MenuListing {
    display: grid;
    margin-left: -32px;
    grid-template-columns: [line1] 222px [line2] calc(100vw - 252px);
    grid-template-areas: 'icon option';
    height: 128px;
    width: 100vw;
}

.MenuListing img {
    grid-area: icon;
    width: 100%;
    height: 100%;
}

.MenuListing p {
    grid-area: option;
    margin: 0px;
    height: 128px;
    line-height: 128px;
    font-size: 32px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.MenuListing + .MenuListing p {
    border-top: 3px solid #252422;
}