<<<<<<< HEAD
.NavigationRoot {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 112px;
    width: 100%;
    background-color: #252422;
    display: flex;
    justify-content: center;
}

.NavigationOption {
    padding: 0px;
    height: 100%;
    width: 166px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: none;
    font-size: 24px;
    color: #7D7C7A;
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50% ;
}

.NavigationOption img {
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
}

.NavigationOption p {
    margin: 0px;
    width: 100%;
=======
.NavigationRoot {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 112px;
    width: 100%;
    background-color: #252422;
    display: flex;
    justify-content: center;
}

.NavigationOption {
    padding: 0px;
    height: 100%;
    width: 166px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: none;
    font-size: 24px;
    color: #7D7C7A;
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50% ;
}

.NavigationOption img {
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
}

.NavigationOption p {
    margin: 0px;
    width: 100%;
>>>>>>> 8d0e49efd36fe9ac3872b7ede2db404aa1905f32
}